
body {
    background: #666 url(fade.png) 0 0 repeat-y;
        background: -webkit-linear-gradient(right, #000, #666); 
	    background: linear-gradient(to right, #000, #666);	    
	    background: -webkit-radial-gradient(100px 200px, circle closest-side, black, white);
	    background: linear-gradient(135deg, hsl(36,100%,50%) 10%, hsl(72,100%,50%) 60%, white 90%);
	    background: repeating-radial-gradient(#8b2, #8b2 10px, #e90 10px, #e90 20px);

	    }

	    @media screen {

	        body { font: 12px arial, sans-serif }
		    #nav { display: block }

		    }

		    @media screen and (max-width: 1000px) {

		        #content { width: 100% }

			}


@media screen and (max-width: 1000px) {

    #content { width: 100% }

    }

    @media screen and (max-width: 800px) {

        #nav { float: none }

	}

	@media screen and (max-width: 600px) {

	    #content aside {
	            float: none;
		            display: block;
			        }

				}




	@media print {
	    body {
	            font-size: 10pt;
		            font-family: times, serif;
			        }

				    #navigation {
				            display: none;
					        }
						}


	p{
	line-height: 21px;
	}
	#top {
	    background-color: #ccc;
	        padding: 1em
		}

h1 {
 font-size: 2em;
        background-color: #900;
	margin: 0;
	    margin-bottom: 7px;
	        padding: 4px;
		    font-style: italic;
		        text-align: center;
			    letter-spacing: 0.5em;
			        border-bottom-style: solid;
				    border-bottom-width: 0.5em;
				        border-bottom-color: #c00;
	}
	
	h2, .thisOtherClass, .yetAnotherClass {
	    color: red;
	    }


	    h3 {
	       color: #999;
	           font-size: 1.25em;
				}
				img {
				    border-style: dashed;
				        border-width: 2px;
					    border-color: #ccc;
					    }


p {
    font: 14px/1.5 "Times New Roman", times, serif;
        padding: 30px 10px;
	    border: 1px black solid;
	        border-width: 1px 5px 5px 1px;
		    border-color: red green blue yellow;
		        margin: 10px 50px;
    }
    p:first-letter {
        font-size: 24px;
	    float: left;
	    }

	    p:first-line {
	        font-weight: bold;
		}

	    a {
	        text-decoration: none;
		}
		strong {
		    font-style: italic;
		        text-transform: uppercase;
			}
			li {
			    color: #900;
			        font-style: italic;
				}
				table {
				    background-color: #ccc;
				  }

				  #top {
				      background-color: #ccc;
				          padding: 20px
					  }

					  .intro {
					      color: red;
					          font-weight: bold;
						  }

a:link {
    color: blue;
    }

    a:visited {
        color: purple;
	}
	a:active {
	    color: red;
	    }

	    a:hover {
	        text-decoration: none;
		    color: blue;
		        background-color: yellow;
			}

			input:focus, textarea:focus {
			    background: #eee;
			    }
			    p:first-child {
			        font-weight: bold;
				    font-size: 40px;
				    }

				    li { display: inline }


#navigation a {
    display: block;
        padding: 20px 10px;
	}



#navigation {
    position: absolute;
        top: 0;
	    left: 0;
	        width: 200px;
		}
		#navigation2 {
		    position: absolute;
		        top: 0;
			    right: 0;
			        width: 200px;
				}

		#content {
		    margin: 0 200px;
		    }



blockquote:before {
    content: open-quote;
    }

    blockquote:after {
        content: close-quote;
	}

	li:before {
	    content: "POW! ";
	    background: red;
	        color: #fc0;
	    }

	    p:before {
	        content: url(images/jam.jpg);
		}


#marilyn {
    background: #fc0; 
        padding: 20px;
	    border-radius: 10px;
	    }

#ok_a_border_then {
    border: 5px solid #8b2;
        padding: 20px;
	    border-radius: 5px;
	    }

#monroe {
    background: #fc0;
        padding: 20px;
	    border-radius: 3px 6px 9px 12px;
	    }

#nanoo {
    width: 100px;
        height: 50px;
	    text-align: center;
	        padding-top: 100px;
		    background: #fc0;
		        border-radius: 50px/100px;
			    border-bottom-left-radius: 50px;
			        border-bottom-right-radius: 50px;
				}
				box-shadow: 5px 5px 3px 1px #999

				box-shadow: inset 0 0 7px 5px #ddd;


text-shadow: -2px 2px 2px #999;

* {
    margin: 0;
        padding: 0;
	}

	#contact * {
	    display: block;
	    }

#genus_examples > li { border: 1px solid red }

h1 + p { font-weight: bold }

h1 {
    padding: 50px;
        background-image: url(snazzy.jpg);
	    color: rgba(0,0,0,0.8);
	    }

#smut { color: hsl(36, 100%, 50%) }

#rabbit { background: hsla(0, 75%, 75%, 0.5) }

@import url(morestyles.css);


@font-face {
    font-family: "font of all knowledge";
        src: local("font of all knowledge"), local(fontofallknowledge), url(fontofallknowledge.woff);
	    font-weight: 400;
	        font-style: normal;
		}

abbr[title] { border-bottom: 1px dotted #ccc }


input[type=text][disabled] { border: 1px solid #ccc }

a[href^=http] {
    padding-right: 10px;
        background: url(arrow.png) right no-repeat;
	}


a:link {
    -webkit-transition: .2s;
        transition: .2s;
	}

    a:hover {
        color: hsl(36,100%,50%);
	}


background-image: url(this.jpg), url(that.gif), url(theother.png);

#burrito {
    width: 400px;
        height: 200px;
	    border: 10px solid rgba(0,255,0,.5);
	        padding: 20px;
		    background: url(chilli.png) 0 0 no-repeat;
		    }

.note {
    width: 300px;
        height: 300px;
	    background: hsl(36,100%,50%);
	    transform: matrix(2,-0.35,0.35,2,0,0);
	    }

background: linear-gradient(orange, red);

background: linear-gradient(to right, orange, red);

background: linear-gradient(to bottom right, orange, red);

background: linear-gradient(20deg, orange, red);

background: linear-gradient(hsl(0,100%,50%),hsl(60,100%,50%),hsl(120,100%,50%),hsl(180,100%,50%),hsl(240,100%,50%),hsl(300,100%,50%));

@media screen and (orientation: landscape) {

    #nav { float: left }

    }

    @media screen and (orientation: portrait) {

        #nav { float: none }

	}

				
#footer {
    clear: both;
    }

