
body {
 font-family: arial, helvetica, sans-serif;
    font-size: 14px;
        color: black;
	 background: white url(http://www.htmldog.com/images/bg.gif) no-repeat top right;
	background-color:#ffc;
	margins: 20px;
	padding: 0;
	}

	p{
	line-height: 21px;
	}
	#top {
	    background-color: #ccc;
	        padding: 1em
		}

h1 {
 font-size: 2em;
        background-color: #900;
	margin: 0;
	    margin-bottom: 7px;
	        padding: 4px;
		    font-style: italic;
		        text-align: center;
			    letter-spacing: 0.5em;
			        border-bottom-style: solid;
				    border-bottom-width: 0.5em;
				        border-bottom-color: #c00;
	}
	
	h2, .thisOtherClass, .yetAnotherClass {
	    color: red;
	    }


	    h3 {
	       color: #999;
	           font-size: 1.25em;
				}
				img {
				    border-style: dashed;
				        border-width: 2px;
					    border-color: #ccc;
					    }


p {
    font: 14px/1.5 "Times New Roman", times, serif;
        padding: 30px 10px;
	    border: 1px black solid;
	        border-width: 1px 5px 5px 1px;
		    border-color: red green blue yellow;
		        margin: 10px 50px;
    }
    p:first-letter {
        font-size: 24px;
	    float: left;
	    }

	    p:first-line {
	        font-weight: bold;
		}

	    a {
	        text-decoration: none;
		}
		strong {
		    font-style: italic;
		        text-transform: uppercase;
			}
			li {
			    color: #900;
			        font-style: italic;
				}
				table {
				    background-color: #ccc;
				  }

				  #top {
				      background-color: #ccc;
				          padding: 20px
					  }

					  .intro {
					      color: red;
					          font-weight: bold;
						  }

a:link {
    color: blue;
    }

    a:visited {
        color: purple;
	}
	a:active {
	    color: red;
	    }

	    a:hover {
	        text-decoration: none;
		    color: blue;
		        background-color: yellow;
			}

			input:focus, textarea:focus {
			    background: #eee;
			    }
			    p:first-child {
			        font-weight: bold;
				    font-size: 40px;
				    }

				    li { display: inline }


#navigation a {
    display: block;
        padding: 20px 10px;
	}



#navigation {
    position: absolute;
        top: 0;
	    left: 0;
	        width: 200px;
		}
		#navigation2 {
		    position: absolute;
		        top: 0;
			    right: 0;
			        width: 200px;
				}

		#content {
		    margin: 0 200px;
		    }



blockquote:before {
    content: open-quote;
    }

    blockquote:after {
        content: close-quote;
	}

	li:before {
	    content: "POW! ";
	    background: red;
	        color: #fc0;
	    }

	    p:before {
	        content: url(images/jam.jpg);
		}


#marilyn {
    background: #fc0; 
        padding: 20px;
	    border-radius: 10px;
	    }

#ok_a_border_then {
    border: 5px solid #8b2;
        padding: 20px;
	    border-radius: 5px;
	    }

#monroe {
    background: #fc0;
        padding: 20px;
	    border-radius: 3px 6px 9px 12px;
	    }

#nanoo {
    width: 100px;
        height: 50px;
	    text-align: center;
	        padding-top: 100px;
		    background: #fc0;
		        border-radius: 50px/100px;
			    border-bottom-left-radius: 50px;
			        border-bottom-right-radius: 50px;
				}
				box-shadow: 5px 5px 3px 1px #999

				box-shadow: inset 0 0 7px 5px #ddd;


text-shadow: -2px 2px 2px #999;

* {
    margin: 0;
        padding: 0;
	}

	#contact * {
	    display: block;
	    }

#genus_examples > li { border: 1px solid red }

h1 + p { font-weight: bold }

h1 {
    padding: 50px;
        background-image: url(snazzy.jpg);
	    color: rgba(0,0,0,0.8);
	    }

#smut { color: hsl(36, 100%, 50%) }


				
#footer {
    clear: both;
    }

